*{padding: 0;
margin: 0;}

body{background-color: #B9B28A;
height: 700px;
padding: 10px;
margin: 10px;
font-family: Arial, Helvetica, sans-serif;
display: flex;}


header {/*border: 1px solid #000000;*/
border-radius:30px ;
}

header ul{list-style-type: none;
display: flex;}


header ul a{text-decoration: none;
color: black;
padding: 20px;
border-radius: 30px;
margin: 5px;
background-color: #EBE5C2}

header ul a:hover{background-color:#F8F3D9 ;}

.main{flex: 1;}

ul{
padding: 25px;
list-style-type: none;}

ul a{text-decoration: none;
color: black;}

.hobbies{padding: 5px;}

.hobbies i{padding: 5px;}

.contacts{
padding: 5px;}

.contacts i{border: 1px solid #F8F3D9;
padding: 10px;
margin: 10px;
border-radius: 30px;}

.education{
padding: 5px;}

.education i{
padding: 5px;
margin: 10px;
}

.skills{padding: 5px;}

.skills i{padding: 5px;}

.technical{/*border: 1px solid #000000;*/
display: flex;
column-gap: 20px;
padding: 10px;
margin-top: 20px;}

footer{margin-bottom: 20px; 
text-align: center;
padding:10px 0;}

.container {
display: flex;
flex-direction: column;
min-height: 100vh;}

.icons{
list-style-type: none;
column-gap: 10px;
color: #000000;
padding: 5px;
}

img{width: 100px;}

@media (max-width: 768px) {
  header ul {
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    gap: 20px; 
  }

  header ul a {
    display: block;
    
    text-align: center;
    padding: 15px;  
    font-size: 20px;
    border-radius: 30px;
    background-color: #EBE5C2;
    margin: 0 auto;
  }
}





